body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
/* HEADER */
header {
  margin-top: -120px;
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: white;
  text-align: center;
  z-index: 9999;
  background-image: url('../img/background-1080p.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
nav {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
nav > ul {
  list-style-type: none;
  margin: 3 auto;
  padding: 0;
}
nav > ul > li {
  display: inline;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
  weight: bold;
  padding: 0 25px;
  opacity: 1;
  transition: 0.3s all;
}
nav > ul > li > a:hover {
  opacity: 0.6;
}
#logo {
  height: 70px;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}
#arrow {
  height: 70px;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}
.jumbotron {
  margin-top: 120px;
  border-radius: 0px;
  height: 800px;
  background-color: grey;
  margin-bottom: 50px;
}
.jumbotron > h1 {
  text-align: center;
  weight: bold;
  color: white;
  font-size: 2.4em;
}
 .jumbotron > p  {
   text-align: center;
   weight: bold;
   color: white;
   font-size: 1.3em;
 }
.jumbotron > h1 {
  padding-top: 5%;
}
.jumbotron {
  background-image: url('../img/fuksit.jpg');
  background-position: center;
  background-size: cover;
}

/* === LEIPÄTEKSTIT === */
section {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
/* Bold exam dates */
#section4 > ul > li {
  font-weight: 600;
}
/* a and p tags displayed inline in section section5 */
#section5 > ul > li > p, a {
  display: inline;
}
.name {
  margin-bottom: 40px;
}
.name-alumn {
  margin-top: 0px;
}
hr {
  width: 40%;
  margin: 80px auto;
}
/* Grey text */
p {
  color: #6d6d6d;
  line-height: 1.5;
}
.values {
  font-weight: bold;
  font-size: 1.2em;
  color: #6d6d6d;
}
section > strong {
  font-size: 2.2em;
}

ul > li {
  color: #6d6d6d;
  line-height: 1.5;
}
/* No underline on links, link color pale blue */
a {
  color: #5d8edd;
  text-decoration: none;
}
h2 {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
}
h5 {
  color: white;
  font-weight: 600;
  margin-bottom: 2px;
}
/* Underline links on hover */
#section5 a:hover {
  text-decoration: underline;
}
#container {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}
.img-class {
  display: block;
  margin: 0 auto;
  width: 55%;
}
.img-person {
  float: left;
  width: 200px;
  margin-right: 20px;
}
.quote-wrap > * {
  color: #6d6d6d;
}
.quote-wrap {
  height: 400px;
  overflow: auto;
  overflow-y: hidden; // hide vertical
  overflow-x: hidden; // hide horizontal
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* FOOTER */
footer {
  width: 100%;
  height: auto;
  background-color: white;
  text-align: center;
  background-image: url('../img/background-1080p.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.social-icons {
  font-size: 1.5em;
  color: #448aaf;
}
.social-icons ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.social-icons ul li {
  padding: 0 15px;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}
.social-icons ul li a {
  display: block;
  font-size: 1.7em;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons ul li a i {
  color: white;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.social-icons ul li a:hover i {
  opacity: 0.8;
}
.social {
  width: auto;
  text-align: center;
  margin: 0 auto;
}
.fa-facebook {
  padding-right: 22px;
}
#arrow {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
#img-footer {
  border-radius: 50%;
  width: 50px;
}
figure {
  margin: 0 auto;
  margin: 110px 0px 0px -35px;
}
#ftr-list-main {
  margin-top: -75px;
  margin-left: 30px;
}
#ftr-caption-name {
  display: block;
  font-size: 20px;
  color: white;
  margin-top: -24px;
  weight: bold;
}
#ftr-caption-description {
  display: block;
  font-size: 15px;
  color: white;
  weight: bold;
}
.list-horizontal.li {
  padding: 0px 0;
}
.fa-whatsapp {
  font-size: 0.6em;
}
.fa-telegram  {
  font-size: 0.6em;
}
.list-horizontal > * {
  display: inline-block;
  overflow: hidden;
  margin-top: -25px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  header {
    height: 120px;
    margin-bottom: 0px;
    font-size: 0.65em;
  }
  #logo {
    height: 35px;
    padding: 5px 0;
    margin: 0 auto;
    display: block;
  }
  nav > ul > li > a {
    padding: 0 10px;
  }
  nav > ul {
    padding: 3px;
    margin: 0;
  }
  h2 {
    font-size: 1.7rem;
  }
  hr {
    width: 40%;
    margin: 50px auto;
  }
  /* Grey text */
  p {
    color: #6d6d6d;
    font-size: 0.9rem;
  }
  #jobs > li {
    font-size: 0.9rem;
  }
  /* No underline on links, link color pale blue */
  a {
    font-size: 0.9rem;
  }
  section {
    width: 80%;
  }
  #section4 > ul > li {
    font-weight: 600;
    font-size: 0.8em;
  }
  .social-icons {
    font-size: 1.1em;
  }
  .img-class {
    width: 100%;
    margin: 0;
  }
  .img-person {
    float: left;
    margin: 0px 15px 15px 0px;
    width: 130px;
  }
  .quote-wrap > * {
    font-size: 0.7em;
  }
  .quote-wrap {
    height: 400px;
  }
  .jumbotron {
    margin-top: 120px;
    border-radius: 0px;
    height: 300px;
    background-color: grey;
    margin-bottom: 50px;
  }
  #ftr-caption-name {
    display: block;
    font-size: 16px;
    color: white;
    margin-top: -24px;
    weight: bold;
  }
  #ftr-caption-description {
    display: block;
    font-size: 10px;
    color: white;
    weight: bold;
  }
  #ftr-list-main {
    margin-top: -50px;
    margin-left: 40px;
  }
  #img-footer {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  figure {
    margin: 0 auto;
    margin: 80px 0px 0px -40px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 768px) {
  header {
    height: 120px;
    margin-bottom: 0px;
  }
  #logo {
    height: 25px;
    padding: 2px 0;
    margin: 0 auto;
    display: block;
  }
  nav > ul > li > a {
    padding: 0 8px;
  }
  nav > ul {
    padding: 2px;
    margin: 0;
  }
  .jumbotron {
    margin-top: 80px;
    border-radius: 0px;
    height: 200px;
    background-color: grey;
    margin-bottom: 50px;
  }
  .quote-wrap > * {
    font-size: 0.8em;
  }
  .quote-wrap {
    height: 350px;
  }
  h2 {
    font-size: 1.3rem;
  }
  hr {
    width: 40%;
    margin: 50px auto;
  }
  /* Grey text */
  p {
    font-size: 0.7rem;
  }
  #jobs > li {
    font-size: 0.7rem;
  }
  /* No underline on links, link color pale blue */
  a {
    font-size: 0.9rem;
  }
  section {
    width: 90%;
  }
  #section4 > ul > li {
    font-weight: 600;
    font-size: 0.8em;
  }
  #section5 > * {
    font-size: 0.7em;
  }
  .social-icons {
    font-size: 1.1em;
  }
  .img-class {
    width: 100%;
    margin: 0;
  }
  .img-person {
    float: left;
    margin: 0px 15px 15px 0px;
    width: 130px;
  }
  .jumbotron {
    margin-top: 120px;
    border-radius: 0px;
    height: 300px;
    background-color: grey;
    margin-bottom: 50px;
  }
  #ftr-caption-name {
    display: block;
    font-size: 16px;
    color: white;
    margin-top: -24px;
    weight: bold;
  }
  #ftr-caption-description {
    display: block;
    font-size: 10px;
    color: white;
    weight: bold;
  }
  #ftr-list-main {
    margin-top: -50px;
    margin-left: 40px;
  }
  #img-footer {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  figure {
    margin: 0 auto;
    margin: 80px 0px 0px -40px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  header {
    height: 170px;
    margin-bottom: 0px;
    font-size: 0.75em;
  }
  #logo {
    height: 75px;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
  }
  nav > ul > li > a {
    padding: 0 10px;
  }
  nav > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .jumbotron > h1 {
    padding-top: 10%;
  }
  h2 {
    font-size: 2.0rem;
  }
  /* Grey text */
  p {
    font-size: 1.2rem;
  }
  #jobs > li {
    font-size: 1.2rem;
  }
  /* No underline on links, link color pale blue */
  a {
    font-size: 1.2rem;
  }
  .quote-wrap {
    height: 390px;
    overflow: auto;
    overflow-y: hidden; // hide vertical
    overflow-x: hidden; // hide horizontal
  }
  section {
    width: 80%;
  }
  .social-icons {
    font-size: 1.6em;
  }
  .social {
      margin-left: 150px;
      margin-right: 150px;
  }
  .img-class {
    width: 100%;
    margin: 0;
  }
  .img-person {
    float: left;
    width: 250px;
    margin-right: 20px;
  }
  #ftr-caption-name {
    display: block;
    font-size: 20px;
    color: white;
    margin-top: -24px;
    weight: bold;
  }
  #ftr-caption-description {
    display: block;
    font-size: 15px;
    color: white;
    weight: bold;
  }
  #ftr-list-main {
    margin-top: -75px;
    margin-left: 40px;
  }
  #img-footer {
    border-radius: 50%;
    width: 53px;
    height: 53px;
  }
  figure {
    margin: 0 auto;
    margin: 115px 0px 0px -40px;
  }
  .social {
    margin: 0 auto;
  }
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
