body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* HEADER */
header {
  margin-top: -120px;
  position: fixed;
  width: 100vw;
  height: 120px;
  background-color: red;
  text-align: center;
  z-index: 9999;
  background-image: url('img/background-1080p.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

nav {
  height: 100%;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  weight: bold;
  padding: 0 25px;
  opacity: 1;
  transition: 0.3s all;

}

nav > ul > li > a:hover {
  opacity: 0.6;
}

#logo {
  height: 70px;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}


.jumbotron {
  margin-top: 120px;
  border-radius: 0px;
  height: 400px;
  background-color: grey;
}

.jumbotron > h1, .jumbotron > p {
  text-align: center;
  weight: bold;
  color: white;
}

.jumbotron > h1 {
  padding-top: 100px;
}


/* === LEIPÄTEKSTIT === */

section {
  width: 60vw;
  margin: 0 auto;
  text-align: left;
}

hr {
  width: 40vw;
  margin: 150px auto;
}

h1 {
  padding: 0;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  font-size: 1.1rem;
  color: black;
}
